Source: ros-melodic-openni-description
Section: misc
Priority: extra
Maintainer: Isaac I.Y. Saito <130s@2000.jukuin.keio.ac.jp>
Build-Depends: debhelper (>= 9.0.0), liburdfdom-tools, ros-melodic-catkin, ros-melodic-rostest
Homepage: http://www.ros.org/wiki/openni_description
Standards-Version: 3.9.2

Package: ros-melodic-openni-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-urdf, ros-melodic-xacro
Description: Model files of OpenNI device.
